<h2>Sport</h2>
<table>
    {% for el in sport %}
    <tr>
        <td>{{el.title}}</td>
        <td><a href="{{path('show',{id:el.id})}}">show</a></td>
        <td><a href="{{path('delete',{id:el.id})}}">delete</a></td>
        <td><a href="{{path('edit',{id:el.id})}}">edit</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Fashions</h2>
<table>
    {% for el in fasion %}
    <tr>
        <td>{{el.title}}</td>
        <td><a href="{{path('show',{id:el.id})}}">show</a></td>
        <td><a href="{{path('delete',{id:el.id})}}">delete</a></td>
        <td><a href="{{path('edit',{id:el.id})}}">edit</a></td>
    </tr>
    {% endfor %}
</table>